.DeletaPaletaModal {
  margin-top: -20px;
}

.DeletaPaletaModal > div {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.DeletaPaletaModal__foto {
  position: absolute;
  right: 0px;
  bottom: 10px;
  width: 80px;
}

.DeletaPaletaModal__confirmar,
.DeletaPaletaModal__cancelar {
  border: none;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
  color: #ffffff;
}

.DeletaPaletaModal__confirmar {
  background-color: #9400d3;
  transition: all ease-in-out 0.3s;
}

.DeletaPaletaModal__confirmar:hover {
  background-color: #6d009c;
}

.DeletaPaletaModal__cancelar {
  background-color: #ff0000;
  transition: all ease-in-out 0.3s;
}

.DeletaPaletaModal__cancelar:hover {
  background-color: #cf0101;
}
